<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8"/>
  <title>{{titre}}</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <header>
    <h1>{{titre}}</h1>
    <div>
      <a href="http://www.univ-orleans.fr/"><img src="logo.png" alt="logo de l'IUT Informatique" /></a>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="">Accueil</a></li>
    </ul>
  </nav>
  <section>
    <aside>
      <h2>Résumé du DUT</h2>
      <p>
      {{resume}}
      </p>
    </aside>
    <section>
      <h2>Métiers</h2>
      {% for nom,desc,competences,salaire,img in metiers %}
      <section>
        <div class="contenu">
          <div class="desc_img">
            <article class="desc">
              <h3>{{nom}}</h3>
              <p>{{desc}}</p>
            </article>
            <div class='img'>
              <img src="{{repertoire}}{{img}}" alt="{{nom}}"/>
            </div>
          </div>
          <article class="details">
            <div>
              <h4>Compétences nécessaires</h4>
              <ul>
                {% for elem in competences %}
                <li>{{elem}}</li>
                {% endfor %}
              </ul>
            </div>
            <div>
              <h4>Salaire moyen</h4>
              <p>{{salaire}}</p>
            </div>
          </article>
        </div>
      </section>
      {% endfor %}
    </section>
  </section>
  <footer>
    <p>{{footer}}</p>
  </footer>
</body>
</html>
