body {
	margin: 0;
}

* {
	font-family: sans-serif;
}

h2, h3, h4, h5, h6 {
	color: #913;
}

h1 {
	margin: auto 0;
	padding: .5vw;
}

header {
	background-color: #913;
	color: #ebdbdb;
	width: 100%;
	display: flex;
	min-height: 4vw;
}

header img {
	max-height: available;
	height: 4vw;
	width: auto;
}

nav {
	background-color: #fff8f8;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	width: 100%;
	position: sticky;
	top: 0px;
	border-bottom: solid 1px #913;
}

nav ul {
	display: flex;
	margin: auto 0;
	padding-left: 0;
}

nav li {
	margin: 0;
	list-style: none;
	flex-grow: 1;
}

nav li:hover {
	background-color: #ebdbdb;
}

nav li a {
	display: block;
	padding: 2vh;
	text-decoration: none;
	color: #913;
	padding: 1vw;
}

body {
	background-color: #ebdbdb;
}

body > section {
	display: flex;
	margin: 0 5vw;
}

aside {
	order: 2;
	width: 38vw;
	height: fit-content;
}

h2 {
	margin: 1vw;
}

body > section > section, aside, footer {
	margin: 1vw;
	padding: 1vw;
}

body > section > section > section {
	margin: .5vw;
	padding: .5vw;
}

body > section > section, aside, footer {
	background-color: #fff8f8;
	border-radius: .5vw;
}

body > section > section > section {
	background-color: #ebdbdb;
	display: flex;
	border-radius: .5vw;
}

div.contenu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

article.details ul {
	list-style: initial;
}

article.details {
	display: flex;
	width: 100%;
}

article.details div, article.desc {
	background-color: #fff8f8;
	margin: .5vw;
	padding: .5vw;
	flex: 1;
	border-radius: .5vw;
}

article.details div {
	width: 50%;
}

div.desc_img {
	display: flex;
	flex-wrap: wrap;
}

div.img {
	width: 48%;
	min-width: 32vh;
	height: auto;
	padding: .5vw;
}

div.img img {
	width: 100%;
	border-radius: .5vw;
}
